<app-nav-bar></app-nav-bar>
<section id="header" class="d-flex align-items-center">
  <div class="container-fluid nav_bg">
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="row">
          <div
            class="col-md-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex justify-content-center flex-column"
          >
            <h1>
              Welcome to the world of
              <strong class="brand-name"> Object Detection </strong>
            </h1>

            <h2 class="my-3">
              We're a team of talented developers that can help your objects
              detection!
            </h2>

            <div class="mt-3">
              <a routerLink="/contactus" class="btn-get-started">Contact Us</a>
            </div>
          </div>

          <div class="col-lg-6 order-1 order-lg-2 header-img">
            <img
              src="../../assets/about.jpg"
              class="img-fluid animated"
              alt="HomeImg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
